# compiled output
/dist
/node_modules
backup_file.sql
/uploads
/extensions

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

full_backup.sql

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.env
.production.env
.development.env
docker-compose.yaml
Dockerfile

*.drawio

.early.coverage

# Sentry Config File
.sentryclirc

contracts/build