version: '3.8'

services:
    backend:
        build: .
        container_name: backend
        env_file:
            - ./.env
        ports:
            - '3000:3000'
        depends_on:
            - postgres
            - redis
            - minio
        networks:
            - app

    postgres:
        image: postgres:15
        container_name: postgres
        environment:
            POSTGRES_DB: mydb
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
        volumes:
            - pg_data:/var/lib/postgresql/data
        ports:
            - '5432:5432'
        networks:
            - app

    redis:
        image: redis:7-alpine
        container_name: redis
        ports:
            - '6379:6379'
        networks:
            - app

    minio:
        image: minio/minio
        container_name: minio
        command: server /data --console-address ":9090"
        environment:
            MINIO_ROOT_USER: admin
            MINIO_ROOT_PASSWORD: admin12345
        ports:
            - '9000:9000'
            - '9090:9090'
        volumes:
            - minio_data:/data
        networks:
            - app

    minio-init:
        image: minio/mc
        depends_on:
            - minio
        entrypoint: >
            /bin/sh -c "
            sleep 5 &&
            mc alias set local http://minio:9000 admin admin12345 &&
            mc mb -p local/mybucket &&
            exit 0
            "
        networks:
            - app

    directus:
        image: directus/directus:latest
        container_name: directus
        env_file:
            - ./directus/.env
        ports:
            - '8055:8055'
        depends_on:
            - postgres
            - minio
            - redis
        networks:
            - app

volumes:
    pg_data:
    minio_data:

networks:
    app:
        driver: bridge
